{% render 'datalayer-select-promotion-universal' %}
<a href="{{ promotion.url }}" class="promotion-link" 
   data-promotion-id="promo_001" 
   data-promotion-name="Summer Sale" 
   data-creative-name="Homepage Banner" 
   data-position="header_banner">
   <!-- Banner Image or Text -->
   <img src="{{ promotion.banner_image }}" alt="Summer Sale">
</a>
